In [3]:
## https://www.w3resource.com/python-exercises/pandas/index-dataframe.php
## Python Pandas DataFrame: Exercises, Practice, Solution
## Pandas DataFrame [81 exercises with solution]

In [4]:
"""1. 1.Write a Pandas program to create a dataframe from a dictionary and display it.
Sample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}"""

"1. 1.Write a Pandas program to create a dataframe from a dictionary and display it.\nSample data: {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}"

In [7]:
import pandas as pd
data = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df = pd.DataFrame(data, columns=('X','Y','Z'))
df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83